*{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(12, 12, 12);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 4em;
    background-color: rgb(20, 20, 20);
}

.movie-header {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-left: 8em;
    text-shadow: rgb(10, 10, 10) 2px 1px;
    font-size: 50px;   
    order: 0;
    flex-grow: 10;
    font-family: 'Heebo', sans-serif;
}

.profilebutton {
    margin: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: white;
    background-color: rgb(20,20,20);
    border:none
}

.container-movies {
    width: 100%;
    display: flex-inline;
}

a:link, a:visited {
    color:rgb(240, 61, 61);
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
