.newUsers {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.form-label {
  color: white;
}

.btn.btn-danger {
  font-weight: bold;
  background-color: rgb(240, 61, 61);
}

.headLine {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 2em;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}
