.pass{
    background-color: white;
}

// .profile-info {
//     display: inline-block;
//     font-size: 17px;
//     text-align: left;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: auto;
// }

.user-info {
    display: flex-inline;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.updateInfo {
    margin-top: 2em;
}