*{
    box-sizing: border-box;
}

.login-container {
    display: flex-inline;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 4em;
}

.app-container {
    display:flex-inline;
    width: 100%;
    height: auto;
    align-items: center;
}

.MyflixLogo {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(240, 61, 61);
    font-size: 100px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding-top: 4em;
    
}

.form-label {
    color: white;
}

.form-group {
    width: 25%;
}

.btn.btn-danger {
    font-weight: bold;
    background-color:rgb(240, 61, 61);
}

